body{
    font-family: 'Alegreya Sans SC', serif;
    background: url('../images/concrete_seamless.png');  
    background-color: #f1f1f1;
  }
  
  header{
    
    display: flex;
    flex-direction:column;
    align-items: center;
    
  }
  
  
  

  a, a:visited{
    color:blue;
  }
  .nav_links{
    display: flex;
    flex-direction:column;
    
    
  }
  
  .card > header{
    background-color: #288080;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-radius: 7px 7px 0 0;
  }

  .pricing{
    min-height: 475px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  .card{
      flex-basis: 450px;
      flex-direction: column;
  }



  .gallery{
    min-height: 600px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
  }
  .gallery > img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
  

  @keyframes logo_ani {
    from {width:50px;}
    to {width: 425px;} 
    from {opacity: 0;}
    to {opacity: 1;}
  }

  #logo{
    animation-name: logo_ani;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

  @media screen and (min-width: 850px){

  
  header:not(div>header){
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


.nav_links{
  flex-direction: row;
  justify-content: space-between;
}



.card{
  flex-basis: 250px;
  min-width: 250px;
}


}
@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation-delay: -42s;
    }
}


@media print {
  body{
    
    background-image: none;
  }
  
  nav{
    width:100%;
  }

  .nav_links{
    flex-direction:row;
    justify-content: space-around;
  }

  div{
    min-height:100%;
  }
  .pricing{

    align-items:flex-end;
    flex-wrap: nowrap;
  }
  .card{
    border: 2px solid #45ADDD;
    flex-basis: 250px;
  }

  #gallery, .gallery{
    display:none;
  }
  div li:nth-child(odd)::before{
    content:'\1F44D';

  }
  div li:nth-child(even)::after{
    content:'\1F44D';
  }

}

